<!--div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Welcome!</h1>
                    <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
    </div>
</div>-->
<!-- Page content -->
<!--<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">
                    <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
                    <div class="btn-wrapper text-center">
                        <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                            <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
                            <span class="btn-inner--text">Github</span>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                            <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
                            <span class="btn-inner--text">Google</span>
                        </a>
                    </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <small>Or sign in with credentials</small>
                    </div>
                    <form role="form">
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" placeholder="Email" type="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" placeholder="Password" type="password">
                            </div>
                        </div>
                        <div class="custom-control custom-control-alternative custom-checkbox">
                            <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                            <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary my-4">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="javascript:void(0)" class="text-light"><small>Forgot password?</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="javascript:void(0)" class="text-light"><small>Create new account</small></a>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col brd-ln">

            <div class="card bg-secondary shadow">
                <!--<div class="card-header border-0">-->

                <!--</div>-->

                <div class="card-body">
                    <img src="./assets/img/brand/login-img.jpg" class="lg-im-st" alt="...">
                    <form class="sb-dv-cn">
                        <!--<h6 class="heading-small text-muted mb-4">Tax</h6>-->
                        <div class="pl-lg-4">
                            <div class="alg">
                                <h3 class="mb-0 hd-al-mn">EMVO-SERVICE BILLING</h3>
                                <!--<span (click)="triggerModal(modalData)">Add </span>-->
                                <h5 class="hd-al-sd">LOGIN</h5>
                            </div>
                            <div class="frm-al">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">User Name: *</label>
                                            <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Your Email" value="">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-password">Password: *</label>
                                            <input type="text" id="input-password" class="form-control form-control-alternative" placeholder="Your Password" value="">
                                        </div>
                                    </div>

                                </div>

                                <div class="custom-control custom-control-alternative custom-checkbox">
                                    <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                    <label class="custom-control-label" for=" customCheckLogin">
                  <span class="text-muted">Remember me</span>
                </label>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary my-4">Login</button>
                                </div>
                                <h4 class="hd-lst">Platform for Quick Service Billing</h4>
                            </div>

                        </div>
                        <!--<hr class="my-4" />-->
                        <!-- Address -->



                        <!-- Description -->

                    </form>
                </div>



            </div>

        </div>


    </div>
</div>