/* You can add global styles to this file, and also import other style files */

.main-content .navbar-top,
.container {
    display: none;
}

.header.bg-gradient-danger {
    background: linear-gradient(87deg, white 0, white 100%) !important;
}

.bg-default {
    background-color: unset !important;
}

.pb-5,
.py-5,
.mt--7,
.my--7 {
    background: white;
}

.navbar-toggler-icon {
    display: block !important;
}

.navbar-brand-img {
    display: none;
}


/*.footer {
    display: none;
}*/

body {
    background-color: white !important;
}